body {
    background-color: #B9E5E8;
    font-family: "Nunito", sans-serif;
}

#navbar {
    /* background-color: #7AB2D3; */
    font-size: 1.5rem;
    font-weight: 100;
}

#navbar .scrolled {
    background-color: #c2ded1;
    transition: backgroud 500ms;
}


#navbar .nav-link {
    color: #4A628A;
    font-size: 1.3rem;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Efek hover pada fitur */
#navbar .nav-link:hover {
    color: #7AB2D3;
    font-weight: 500;
}

#navbar .navbar-brand {
    color: #4A628A;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); /* Shadow warna hitam transparan */
    transition: all 0.3s ease;
}

#title-head {
    /* color: #4A628A; */
    font-weight: 100;
    font-size: 4rem;
}

.description {
    font-size: 20px;
}

.blurb h2 {
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #3f4e4f;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
} 

@media (max-widht: 1200px) {
    #title-head h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}